/* Import fontes to be used on the page, this is necessary because we can have better fontes to be used on the ortography of the page */

@import url('coolors.co/505033-264969-cfcfb4-b4cde4');

/* Creating variables to be used on the page with the colors that will be manipulade on the page */
:root {
  --primary: #505033;
  --secondary: #264969;
  --accent-1: #CFCFB4;
  --accent-2: #B4CDE4;  
}

/* Creating general caracteristics to all the page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';} 
    

/* Configurating body caracteriscs */
body {
    width: 100vw;
    height: 100vh;
}

/* Creating and manipulating the settings for the frame header to place the image together with the text information, */ 
/* allowing you to adjust your objects */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
    height: 20vh;
}

header ul {
    display: flex;
    list-style: none;
}

/* Adjusting the objects within the frame so that it matches what was requested in the document */
header li {
    border: 2px solid #FFFFFF;
    padding-left: 0px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.3em;
}

#container-main {
    height: 55vh;
    background-image: url("../wwr/rafting12_1024.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--accent-1);
}

#container-main h1 {
    padding-top: 1vh;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Georgia Black';
}

/* Configuring all the features of what will be shown in the history section. */
#container-history {
    display: grid;
    padding-top: 1vh;
    justify-items: center;
    background-color: var(--accent-1);
    height: 30vh;
}

/* Configuring all the features of what will be shown in the adventure section. */
#container-Adventure {
    display: grid;
    padding-top: 1vh;
    justify-items: center;
    background-color: var(--accent-2);
    height: 30vh;
}

/* Configuring what will be shown in the page footer */
footer {
    display: flex;
    background-color: var(--primary);
    height: 9vh;
    margin-top: 0.04vh;
}

footer ul {
    padding-left: 800px;
    padding-right: 800px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 1.3em;
}

.social-media-icon {
    display: flex;
    justify-content: flex-end;
}